{% extends 'base.html' %}

{% block content %}

<h2>Create Task</h2>

<form method="POST">
    {% csrf_token %}

    <input type="text" name="title" placeholder="Task Title" required>
    <br><br>

    <label>Project:</label>
    <select name="project">
        {% for p in projects %}
            <option value="{{ p.id }}">{{ p.name }}</option>
        {% endfor %}
    </select>

    <br><br>

    <label>Assign To:</label>
    <select name="user">
        {% for u in users %}
            <option value="{{ u.id }}">{{ u.username }}</option>
        {% endfor %}
    </select>

    <br><br>

    <button type="submit">Create Task</button>
</form>

{% endblock %}